table {
   border-spacing: 0;
   width: 100%;
   background: #FFFFFF;
}


thead {
   text-align: left;
   align-items: left;
   justify-content: left;
   margin-left: -10px;
   

}

tbody{
    background-color: #f3f2f7;
}
tr,
th {
   background-color: #ffffff;

   /* Border Bottom */
   padding: 0 0 0 18px;
   box-shadow: inset 0px -1px 0px #e4e5e7;
   font-size: 12px;
}


th {
   background-color: #f3f2f7;
   height: 40px;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;

   letter-spacing: 0.05em;
   text-transform: capitalize;
   color: #455a64;
}

td {
   position: relative;

   padding: 0 8px 0 15px;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;

   color: #6e6b7b;
}

tr:nth-child(4n + 3) {
   background: #fcfcfd;
}
.rows{
z-index: 6666;
}
.rows:hover {
   background-color: #66afff;
}

th {
   text-align: left;

   color: #455a64;
}
td:nth-child(1) {
   display: none;
}
th:nth-child(1) {
   display: none;
}

.clienthover {
   position: relative;

   gap: 5px;

   background-repeat: no-repeat;
   background-position: 0%;

   & .six-dots {
      display: none;
      position: absolute;
   }
   & .arrow-col {
      margin-left: 10px;
      margin-bottom: 1.5px;
   }
   & p:hover {
      display: block;
   }
}

.clienthover:hover::before{
   content: '';
   width: 15px;
   height: 100%;
   top: 0;
   left: -15px;
   display: block;
   position: absolute;
   background-color: #f3f2f7;

}

.clienthover:hover {

   height: 100%;
   position: relative;
   cursor: grab;
   background-image: url(../../images/sixdots.svg);
   background-repeat: no-repeat;

   right: -15px;

 

   & p {
      position: relative;
      right: -15px;
      display: block;
      

   }

   & .six-dots {
      
      position: absolute;
      display: block;
      margin-left: -15px;
   }
}

.clienthover:nth-last-child(-n+1) {
    background-image: none;
    right: 0;
    cursor: default;
    & svg {
        display: none;
        
    }
}


.bottom_open {

   & .dop-window {
      position: relative;
      top: 200px;
      left: -200px;
      height: 173px;
      // width:1148px;

      background: #e5e5e5;
   }
}

.bottom_open:hover{
    pointer-events: none;
}

.open_cell {
   display: flex;
   flex-direction: column;
}

.open_3dots {
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 10px;
   width: 100px;
   right: -40px;

   float: right;
}

.open_row {
   width: 32px;
   height: 32px;
   background: #eff2f3;
   border-radius: 5px;
   & svg {
      justify-content: center;
      margin: 13px 0 0 12px;
   }
}

.close_row {
   rotate: (180deg);
   & svg {
      margin-bottom: -5px;
   }
}

.three_dots {

   width: 25px;
   margin-left: -10px;
   & svg {
      margin-top: 20px;
      margin-left: 10px;
   }
   
}

.delete_archive_container {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 55px;
   left: -108px;
   width: 176px;
   height: 72px;
   background: #ffffff;
   border-radius: 5px;
   z-index: 1111;

   filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

   & .delete-icon, .archive-icon {
      display: flex;
      flex-direction: row;
      height: 36px;
      margin: auto 10px;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      gap: 10px;

      color: #6e6b7b;
      & svg {
         margin-bottom: 20px;
      }
   }

   & .archive-icon{
    margin: 0 10px;
   }

   & svg {
      cursor: pointer;
   }
}

.dop_cell {
   width: 1148px;
   height: 200px;

}
.dop-window {
   position: absolute;

    background: #d11919;



   & p {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #b9b9c3;
   }
   & h2 {
      font-size: 14px;
      line-height: 21px;

      color: #1d2c48;
   }
   & h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #1d2c48;
   }

   & .dop_client {
      position: absolute;
      top: -200px;
      left: 216px;
      width: 200px;
      & h2 {
         margin-top: -10px;
      }
   }

   & .dop_contact {
      top: -200px;
      position: absolute;
      left: 502px;
      width: 200px;
      & h2 {
         margin-top: -10px;
      }
   }

   & .dop_notes {
      & h5 {
         margin-top: -10px;
      }
      top: -120px;
      position: absolute;
      left: 216px;
      width: 800px;
   }

   & .dop_total {
      position: absolute;
      left: 970px;
      top: -210px;
      width: 200px;
      border-left: 0.5px solid #E3ECF6;
      height: 80%;
      padding-left: 30px;
      margin: 25px 0;

      & h4{
         font-weight: 500;
         font-size: 14px;
         line-height: 21px;
          margin-top: 10px;
          color: #b9b9c3;
      }

      & h1 {
         margin-top: -10px;
      }
      & h5 {
         margin-top: 2px;
      }
      & .cost_number {
         display: flex;
         flex-direction: row;
         font-weight: 700;
         font-size: 25px;
         line-height: 21px;
         margin-top: 40px;
         /* identical to box height, or 44% */

         /* Client Portal/Dark */

         color: #1d2c48;
      }
   }
   & .dop_status {
      position: absolute;
      left: 260px;
      top: 10px;
   }
}

.status__container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   float: right;
   width: 300px;
   margin-right: 0;
}

.status_active,
.status_archived {
   & p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
   }
}
.status_active {
   width: 64px;
   height: 22px;
   background: #eaf9f1;
   /* Base/Success */

   border: 1px solid #28c76f;
   border-radius: 30px;
   & p {
      color: #28c76f;
      margin-top: 4px;
      cursor: default;
   }
}
.status_archived {
   width: 64px;
   height: 22px;

   background: #fdeeee;

   border: 1px solid #ea5455;
   border-radius: 30px;

   & p {
      color: #ea5455;
      margin-top: 4px;
      cursor: default;
   }
}

.modalmini {
   position: fixed;
   width: 2000px;
   height: 1500px;
   right: 0;
   bottom: 0;
   margin-top: 300px;
   margin-left: 300px;
   display: none;
   z-index: 3;
}

.active {
   display: block;
}

@media (max-width: 1400px) {
    .dop_total {
      left: 870px;
   }

   .dop-window .dop_status {
      left:250px;
   }
}

@media (max-width: 1200px) {
   .dop-window .dop_total {
      left: calc(100vw - 220px)
   }

   // .dop-window .dop_status {
   //    left: 200px;
   // }
}
