table {
   border-spacing: 0;
   width: 100%;
}
#main_table {
   border-collapse: collapse;
   width: 100%;
}

thead {
   text-align: left;
   align-items: left;
   justify-content: left;
   margin-left: -10px;
}
tr,
th {
    background-color: #ffffff;
   /* Border Bottom */
   padding: 8px;
   box-shadow: inset 0px -1px 0px #e4e5e7;
   font-size: 12px;

   
}
th{
    background-color: #F3F2F7;
    height: 56px;
    font-weight: 700;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.05em;
text-transform: capitalize;
color: #455A64;
}

td {
   position: relative;
   padding: 8px 8px 8px 15px;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;

   color: #6e6b7b;
}

tr:nth-child(4n+3) {

   background: #FCFCFD;
}

.rows:hover {
   background-color: #66afff;
}

#main_table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #f3f2f7;
   color: #455a64;
}
td:nth-child(1) {
    display: none;
}
th:nth-child(1) {
    display: none;
}

.clienthover {
   position: relative;

   gap: 5px;
   & span {
      margin-right: 10px;
   }
   & img {
      display: none;
   }
}

.clienthover:hover {
   position: relative;
   & span {
      margin-right: 10px;
   }
   & img {
      position: absolute;
      display: block;
      margin-top: 0px;
      margin-left: -5px;
   }
}

.open_cell {
   display: flex;
   flex-direction: column;
}

.open_3dots {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.open_row {
   width: 32px;
   height: 32px;
   background:#EFF2F3;
   border-radius: 5px;
   & img {
      justify-content: center;
      margin: 12px 0 0 12px;
   }
}

.close_row {
   rotate: (180deg);
   & img {
      margin-bottom: -5px;
   }
}

.three_dots {
   margin-top: 20px;
}


.delete_archive_container {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 55px;
   left: -85px;
   width: 176px;
   height: 72px;
   background: #ffffff;
   border-radius: 5px;
   z-index: 1111;

   filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

   & p {
      display: flex;
      flex-direction: row;
      margin: auto 10px;
      cursor: pointer;
      font-size: 12px;

      color: #6e6b7b;
   }

   & img {
      cursor: pointer;
   }
}

.dop_cell {
   width: 100%;
   height: 200px;
}
.dop-window {
   position: absolute;

   & p {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #b9b9c3;
   }
   & h2 {
      font-size: 14px;
      line-height: 21px;

      color: #1d2c48;
   }
   & h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #1d2c48;
   }

   & .dop_client {
      position: absolute;
      top: -180px;
      left: 16px;
      width: 200px;
      & h2 {
         margin-top: -10px;
      }
   }

   & .dop_contact {
      top: -180px;
      position: absolute;
      left: 372px;
      width: 200px;
      & h2 {
         margin-top: -10px;
      }
   }

   & .dop_notes {
      & h5 {
         margin-top: -10px;
      }
      top: -100px;
      position: absolute;
      left: 16px;
      width: 800px;
   }

   & .dop_total {
      position: absolute;
      left: 870px;
      top: -180px;
      width: 200px;
      & h1 {
         margin-top: -10px;
      }
      & h5 {
         margin-top: 6px;
      }
      & .cost_number {
         display: flex;
         flex-direction: row;
      }
   }
   & .dop_status {
      position: absolute;
      left: 150px;
      top: 12px;
   }
}

.status_active,
.status_archived {
   & p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
   }
}
.status_active {
   width: 64px;
   height: 22px;
   background: #eaf9f1;
   /* Base/Success */

   border: 1px solid #28c76f;
   border-radius: 30px;
   & p {
      color: #28c76f;
      margin-top: 4px;
      cursor: default;
   }
}
.status_archived {
   width: 64px;
   height: 22px;

   background: #fdeeee;

   border: 1px solid #ea5455;
   border-radius: 30px;

   & p {
      color: #ea5455;
      margin-top: 4px;
      cursor: default;
   }
}

.modalmini {
   position: fixed;
   width: 2000px;
   height: 1500px;
   right: 0;
   bottom: 0;
   margin-top: 300px;
   margin-left: 300px;
   display: none;
   z-index: 3;
}

.active {
   display: block;
}



@media (max-width: 1400px) {
    .dop-window .dop_total{
        left: 670px;
    }

    .dop-window .dop_status{
        left: 150px;
    }
}

@media (max-width: 1200px) {
    .dop-window .dop_total{
        left: 570px;
    }

    .dop-window .dop_status{
        left: 100px;
    }
}